<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cv_bridge">
</manifest>


<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--package="cv_bridge">-->
<!--<application-->
<!--android:icon="@mipmap/ros_icon"-->
<!--android:label="@string/app_name">-->
<!--</application>-->
<!--</manifest>-->